<H2> EDIT USER </H2>

<%= form_for [@user] do |f| %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "your name" %><br><br>
  </div>

   <div>
    <%= f.label :email %>
    <%= f.text_field :email , placeholder: "example@gmail.com" %><br><br>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "password" %><br><br>
  </div>

   <%= f.submit "submit"%>
<% end %>
